header, nav, section, article, aside, footer, hgroup {
    display: block;
}
@font-face {
	font-family:'Xtreem_Fat_Demo';
	src:url(../fonts/XtreemFat_Demo.eot);
	src:url(../fonts/XtreemFat_Demo.ttf);
	src:url(../fonts/XtreemFat_Demo.otf);
}

@font-face {
	font-family:'Xtreem_Medium_Demo';
	src:url(../fonts/XtreemMedium_Demo.eot);
	src:url(../fonts/XtreemMedium_Demo.ttf);
	src:url(../fonts/XtreemMedium_Demo.otf);
}

* {
	padding:0;
	margin:0;
}

html, body {
	padding:0;
	margin:0;
	min-height:860px;
}

body {
	width:100%;
	min-height:860px;
	max-height:100%;
	background:url(../images/background.jpg) no-repeat;
	background-size:cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#wraper {
	width:990px;
	margin:0 auto;
	padding:0;
}

.navigation {
	margin:0 auto;
	width:100%;
	height:154px;
}

.navigation ul {
	padding:0;
	margin:0;
}

.navigation ul li {
	padding:0 0 5px;
	margin:0;
	display:inline;
	float:left;
	list-style:none;
}

.navigation ul li a {
	padding:20px 33px;
	margin:0;
	text-align:center;
	text-decoration:none;
	font-size:15px;
	color:#b89965;
	font-family:'Open Sans', sans-serif;
}

.navigation ul li a:hover {
	text-decoration:underline;
	color:#ddc7aa;
}

.navigation ul li.text-link {
	padding-top:120px!important;
}

.navigation ul li a.active {
	text-decoration:underline!important;
	color:#ddc7aa!important;
}

.footer {
	float:left;
	width:100%;
	padding:0;
	margin:0 0 20px;
}

.left-footer {
	width:70%;
	padding:0;
	margin:0;
	float:left;
}

.left-footer p {
	font-size:13px;
	padding:0 30px;
	margin:0;
	color:#c7a977;
	font-family:'Open Sans', sans-serif;
}

.right-footer {
	width:30%;
	padding:0;
	margin:0;
	float:left;
	text-align:right;
	display:inline;
}
.left-footer span {
    margin-right: 130px;
}
.left-footer p a {
    color: #c7a977;
    text-decoration: none;
}
.right-footer a {
	padding:0 7px;
	margin:0;
	font-size:14px;
	color:#c7a977;
	font-family:'Open Sans', sans-serif;
	text-decoration:none;
}

.arb-border {
	border-right:1px solid #c7a977;
}

.footer-text {
	float:right;
	padding-right:25px;
}

#our-story {
	padding:0;
	box-shadow:0 0 10px rgba(0, 0, 0, 0.1);
	margin:0 auto 10px;
	width:100%;
	float:left;
	height:668px;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	border:14px solid #9b7e4e;
	background:url(../images/bg_img.png) repeat-x #3b3b3b;
}

.text-our-story {
	background:#9b7e4e;
	font-size:13px;
	font-weight:700;
	font-family:'Open Sans', sans-serif;
	color:#fce7c4;
	padding:14px 16px;
	margin:0;
	position:absolute;
	-webkit-transform:rotate(-90deg);
	-moz-transform:rotate(-90deg);
	-ms-transform:rotate(-90deg);
	-o-transform:rotate(-90deg);
	filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
	margin:0 0 0 -95px;
	height:30px;
	top:190px;
	width:99px;
	text-align:center;
}

.text-book-table {
	background:#9b7e4e;
	font-size:13px;
	font-weight:700;
	font-family:'Open Sans', sans-serif;
	color:#fce7c4;
	padding:14px 16px;
	margin:0;
	position:absolute;
	-webkit-transform:rotate(-90deg);
	-moz-transform:rotate(-90deg);
	-ms-transform:rotate(-90deg);
	-o-transform:rotate(-90deg);
	filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
	margin:0 0 0 -95px;
	height:30px;
	top:190px;
	width:99px;
	text-align:center;
}

.left-story {
	width:314px;
	float:left;
	border-right:3px solid #b1925f;
	padding:0;
	margin:0;
}

.right-story {
	float:left;
	padding:20px 30px;
	margin:0;
	width:583px;
	min-height:325px;
}

.right-story h2 {
	padding:30px 0 10px;
	margin:0;
	color:#a27732;
	font-size:40px;
	font-family:'Xtreem_Medium_Demo';
}

.right-story section {
	padding:10px 20px 0 0;
	margin:0;
	color:#dcd2c6;
	font-size:14px;
	font-family:'Open Sans', sans-serif;
}

.right-story article {
	padding:10px 20px 10px 0;
	margin:0;
	color:#dcd2c6;
	font-size:18px;
	font-family:'Open Sans', sans-serif;
}

.right-story p {
	padding:10px 20px 10px 0;
	margin:0;
	color:#c6a877;
	font-size:14px;
	font-family:'Open Sans', sans-serif;
}

#book-table {
	padding:0;
	box-shadow:0 0 10px rgba(0, 0, 0, 0.1);
	margin:0 auto 10px;
	width:100%;
	float:left;
	height:668px;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	border:14px solid #9b7e4e;
	background:url(../images/bg_img.png) repeat-x #3b3b3b;
}

.book-table-article {
	padding-top:0!important;
	font-size:24px!important;
}

.book-table-para {
	font-size:30px!important;
	line-height:32px;
}

.location_para {
	font-size:20px!important;
	text-shadow:0 0 1px #FFF;
}

.jssort02 > div {
	top:0!important;
	left:0!important;
	width:212px!important;
	height:641px!important;
	border-right:7px solid #9b7e4e;
}

.left_menu_detail {
	width:227px;
	height:641px;
	background:#b1925f;
	position:relative;
	float:left;
	display:inline;
}

.left_menu_detail h2 {
	font-family:candara;
	font-size:20px;
	color:#000;
	text-align:center;
	position:relative;
	top:24px;
	height:115px;
}

.menu_details {
	width:95%;
	height:525px;
	position:relative;
	padding-left:10px;
	overflow-y:scroll;
}

.menu_details ul {
	width:100%;
	height:auto;
	position:relative;
	list-style:none;
	margin-bottom:15px;
}

.menu_details ul li {
	font-family:candara;
	font-size:20px;
	color:#000;
	font-weight:700;
}

.menu_details ul li a {
	font-family:candara;
	font-size:15px;
	color:#000;
	text-decoration:none;
	font-weight:400;
}

.menu_details ul li a:hover, .menu_details ul li a:active {
	color:#FFF;
	text-decoration:underline;
}

.menu_details ul li a.menu_active {
	color:#FFF;
	text-decoration:underline;
}

.menu_details span {
	font-family:'Open Sans', sans-serif;
	font-size:16px;
	font-weight:700;
	color:#FFF;
	margin-bottom:15px;
	text-decoration:underline;
	display:inline-block;
}

.right_menu_detail {
	width:734px;
	height:641px;
	position:relative;
	float:left;
	display:inline;
}

.right_menu_detail img {
	border:10px solid #000;
}

.menu_detail_text_div {
	width:94%;
	margin:0 auto;
	position:relative;
}

.menu_detail_text_div p.main_p {
	font-family:'Open Sans', sans-serif;
	font-size:30px;
	color:#FFF;
	margin-top:10px;
}

.menu_detail_text_div h3 {
	color:#ae7f31;
	font-size:24px;
	font-family:'Xtreem_Medium_Demo';
	margin:15px 0;
}

.menu_detail_text_div p {
	font-family:'Open Sans', sans-serif;
	color:#FFF;
	font-size:14px;
}

#testDiv5 {
	height:525px!important;
}

.twitter_icon {
	background:url(../images/twitter.png) no-repeat;
	width:7px;
	height:21px;
	display:inline-block;
	border-radius:50%;
	 -webkit-border-radius: 50%;  
    -moz-border-radius: 50%;
}

.facebook_icon {
	background:url(../images/facebook.png) no-repeat;
	width:7px;
	height:21px;
	display:inline-block;
	border-radius:50%;
	 -webkit-border-radius: 50%;  
    -moz-border-radius: 50%;
}
.instagram_icon{background:url(../images/instagram.png);
	width:7px;
	height:21px;
	display:inline-block;
	border-radius:50%;
	 -webkit-border-radius: 50%;  
    -moz-border-radius: 50%;}

.twitter_icon:hover {
	background:url(../images/twitter_active.png) no-repeat;
}

.facebook_icon:hover {
	background:url(../images/fb_active.png) no-repeat;
}
.instagram_icon:hover{background:url(../images/instagram_active.png) no-repeat;}

.right-footer a:hover {
	color:#ddc7aa;
	text-decoration:underline;
}

::-webkit-scrollbar {
	display:none;
}

#wrapper {
	width:962px;
	height:641px;
	position:absolute;
	overflow:hidden;
}

.caroufredsel_wrapper {
	width:643px!important;
	height:641px!important;
	right:0!important;
	bottom:0!important;
	float:right;
	left:320px!important;
}

#carousel {
	width:642px!important;
	height:641px!important;
	overflow:hidden;
	position:absolute;
	z-index:1;
	top:0;
	left:0;
}

#carousel img {
	display:block;
	width:642px;
	height:641px;
}

#pager {
	width:316px!important;
	overflow-y:auto;
	position:absolute;
	z-index:2;
	left:0;
	float:left;
	border-right:4px solid #9b7e4e;
	height:641px!important;
}

#pager img {
	display:block;
	float:left;
	width:154px;
	height:103px;
	opacity:1;
	border-bottom:5px solid #9b7e4e;
	border-right:4px solid #9b7e4e;
}

#pager img.selected {
	width:154px;
	height:103px;
}

#pager img {
	position:relative;
	cursor:pointer;
	-webkit-box-shadow:rgba(0, 0, 0, .2) 3px 5px 5px;
	-moz-box-shadow:rgba(0, 0, 0, .2) 3px 5px 5px;
	box-shadow:rgba(0, 0, 0, .2) 3px 5px 5px;
}

.image_hover_box {
	float:left;
	height:103px;
	margin-right:4px;
	position:relative;
	width:154px;
	border-bottom:5px solid #9b7e4e;
}

.image_hover_box.selected {
	position:relative;
	width:154px;
	height:103px;
}

.img_hover_style {
	height:103px;
	opacity:.5;
	position:absolute;
	width:154px;
}

.image_hover_box.selected .img_hover_style {
	background:url(../images/hover_img.png) no-repeat 60px 36px #9b7e4e;
	height:103px;
	opacity:.5;
	position:absolute;
	width:154px;
}

.slidesjs-next.slidesjs-navigation{background:url(../images/next_arrow.png) no-repeat; width:38px; height:38px; position:absolute; right:-52px; top:300px; color: #9b7e4e;
    font-size: 1px;}
.slidesjs-previous.slidesjs-navigation{background:url(../images/prev_arrow.png) no-repeat; width:38px; height:38px; position:absolute; left:-52px; top:300px; color: #9b7e4e;
    font-size: 1px;}
.slidesjs-pagination {
    bottom: 0;
    height:20px;
    list-style: none outside none;
    position: absolute;
    width: 200px;
	z-index:9999;
	margin-left:410px; 
}
.slidesjs-pagination-item {
    display: inline;
    float: left;
	width: 40px; height: 8px; background-color: #9b7e4e; margin:0 5px;
}
.slidesjs-pagination-item a{ background-color: #9b7e4e;
							color: #9b7e4e;
							font-size: 7px;
							height: 8px;
							padding: 1px 18px;
							position: relative;
							top: -9px;}
#slides {
      display: none;
	  height:641px;
	  width:962px;
    }
.slidesjs-slide, .slidesjs-control ,.slidesjs-container{height:641px !important;}
.container{width:962px !important; height:641px; position:relative;}
 /* Show active item in the pagination */
    .slidesjs-pagination .active {
      background-color: #000;
	  color:#000;
    }
 /* Media quires for a responsive layout */

    /* For tablets & smart phones */
    @media (max-width: 767px) {
      body {
        padding-left: 10px;
        padding-right: 10px;
      }
      .container {
        width: auto
      }
    }

    /* For smartphones */
    @media (max-width: 480px) {
      .container {
        width: auto
      }
    }

    /* For smaller displays like laptops */
    @media (min-width: 768px) and (max-width: 979px) {
      .container {
        width: 724px
      }
    }

    /* For larger displays */
    @media (min-width: 1200px) {
      .container {
        width: 1170px
      }
    }
.right-story form {
    height: 255px;
    overflow: hidden;
    position: relative;
}
.right-story form label {
    color: #9b7e4e;
    display: inline-block;
    font-family: "Open Sans",sans-serif;
    font-size: 14px;
    font-weight: bold;
    width: 90px;
	height:30px;
	margin:10px 0;
}
.right-story form input[type=text],
.right-story form input[type=tel],
.right-story form input[type=datetime],
.right-story form input[type=email],
.right-story form select{
							height: 30px;
							position: relative;
							width: 175px;
							border:none;
							background:#fff;
							color:#333;
							padding-left:10px;
							font-family: "Open Sans",sans-serif; font-size: 14px;
							background-image:none !important;
							margin-bottom:10px;
							line-height:30px;
						}
.right-story form select{padding-left: 2px; width: 59.6px}
.right-story form select option{padding-left:10px;}

textarea{width:245px; height:70px; vertical-align:middle; border:none;background:#666; color:#333;}
form span{font-family: "Open Sans",sans-serif; font-size: 16px; color:#c6a877; display:inline-block; width:100px; margin-left:10px; vertical-align:-4px;}
input[type="button"] {
    background: #9b7e4e;
    border: medium none;
    color: #fce7c4;
    font-family: open sans;
    font-size: 16px;
    font-weight: bold;
    height: 30px;
    width: 100px;
	margin:0 0 0 483px;
}
input[type="button"]:hover{background:#9b7e4e; color:#000; cursor:pointer;}
.right-story p.address_icon{font-size:20px;}
.right-story p.address_icon font{font-style:italic; font-size:18px;}
.right-story p.address_icon span{vertical-align: -10px; margin-right: 10px; position:relative;}
#testDiv4 p span {font-family: "Xtreem_Medium_Demo"; font-size: 32px; font-weight: bold; color:#a27732;}
.input-parent.input-container {
    display: inline;
    width: auto;
	height: auto;
}
button.beatpicker-clear { background: #9b7e4e;
    border: medium none;
    color: #fce7c4;
    font-family: open sans;
    font-size: 13px;
    font-weight: bold;
    height: 30px;
    width: 50px;
	display:none;}
.time_label{ margin-left: 24px !important; width: 90px !important;}